@mixin btn-transform($translatY, $box-shadow) {
    transform: translateY($translatY);
    box-shadow: $box-shadow;
  }
  
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}  